<div class="row flex-row padding50">
    <div class="col-lg-4 col-md-6 left">
        <div class="item left xs-left">
            <div class="descr">
                <h3 class="orange uppercase">modern design</h3>
                <p class="align-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <img src="img/features-1.png"/>
        </div>
        <div class="item left xs-left">
            <div class="descr">
                <h3 class="orange uppercase">unique quality</h3>
                <p class="align-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
           <img src="img/features-2.png"/>
        </div>
    </div>
    <div class="col-lg-4 mobile-hide tablet-hide">
        <img src="img/sofa.png"/>
    </div>
    <div class="col-lg-4 col-md-6 right">
        <div class="item right">
            <div class="descr">
                <h3 class="orange uppercase">honest prices</h3>
               <p class="align-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <img src="img/features-3.png"/>
        </div>
        <div class="item right">
            <div class="descr">
                <h3 class="orange uppercase">great support</h3>
                <p class="align-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
             <img src="img/features-4.png"/>
        </div>
    </div>
</div>