<h1 class="uppercase orange center">why choose us</h1>
<div class="row">
    <div class="col-lg-4">
        <div class="item-left">
            <div class="descr">
                <h3 class="orange uppercase">modern design</h3>
                <p class="align-right">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Corporis, asperiores distinctio ratione explicabo itaque non est, obcaecati ipsa sint,
                     veniam recusandae velit nemo dignissimos doloribus. 
                     Dolore dolorem reprehenderit eaque! Deleniti?</p>
            </div>
            <img src="img/features-1.png"/>
        </div>
        <div class="item-left">
            <div class="descr">
                <h3 class="orange uppercase">unique quality</h3>
                <p class="align-right">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Corporis, asperiores distinctio ratione explicabo itaque non est, obcaecati ipsa sint,
                     veniam recusandae velit nemo dignissimos doloribus. 
                     Dolore dolorem reprehenderit eaque! Deleniti?</p>
            </div>
            <img src="img/features-2.png"/>
        </div>
    </div>
    <div class="col-lg-4">
        <img src="img/sofa.png"/>
    </div>
    <div class="col-lg-4">
        <div class="item-right">
            <img src="img/features-3.png"/>
            <div class="descr">
                <h3 class="orange uppercase">honest prices</h3>
                <p class="align-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Corporis, asperiores distinctio ratione explicabo itaque non est, obcaecati ipsa sint,
                     veniam recusandae velit nemo dignissimos doloribus. 
                     Dolore dolorem reprehenderit eaque! Deleniti?</p>
            </div>
        </div>
        <div class="item-right">
            <img src="img/features-4.png"/>
            <div class="descr">
                <h3 class="orange uppercase">great support</h3>
                <p class="align-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Corporis, asperiores distinctio ratione explicabo itaque non est, obcaecati ipsa sint,
                     veniam recusandae velit nemo dignissimos doloribus. 
                     Dolore dolorem reprehenderit eaque! Deleniti?</p>
            </div>
        </div>
    </div>
</div>