    <div class="top-nav mobile-hide">
        <div class="logo">
            <a href="/">
            <img src="img/logo.png" alt="logo"/>
            </a>
        </div>
        <div class="menu">
            <ul class="menu">
                <li class="menu-item active"><a href="home">home</a></li>
                <li class="menu-item"><a href="features">features</a></li>
                <li class="menu-item"><a href="shop">shop</a></li>
                <li class="menu-item"><a href="blog">blog</a></li>
                <li class="menu-item"><a href="accessories">accessories</a></li>
                <li class="menu-item"><a href="contact">contact</a></li>
            </ul>
        </div>
        <div class="customer-panel">
            <ul class="customer-panel">
                <li class="customer-panel-item">
                    <i class="fas fa-search"></i>
                    </li>
                <li class="customer-panel-item">
                    <i class="far fa-heart"></i>
                </li>
                <li class="customer-panel-item" id="cart">
                    <i class="fas fa-shopping-cart"></i>
                </li>
            </ul>
        </div>
        </div>

        