    <div class="top-nav" id="topNav">
        <div class="logo">
            <a href="/">
            <img src="img/logo.png" alt="logo"/>
            </a>
        </div>
        <div class="menu mobile-hide tablet-hide responsive">
            <ul class="menu">
                <li class="menu-item"><a href="index.html">home</a></li>
                <li class="menu-item"><a href="#features">features</a></li>
                <li class="menu-item"><a href="shop.html">shop</a></li>
                <li class="menu-item"><a href="blog">blog</a></li>
                <li class="menu-item"><a href="accessories">accessories</a></li>
                <li class="menu-item"><a href="contact">contact</a></li>
            </ul>
        </div>
        <div class="customer-panel mobile-hide tablet-hide">
            <ul class="customer-panel">
                <li class="customer-panel-item">
                    <img src="img/search.png"/>
                    </li>
                <li class="customer-panel-item">
                    <img src="img/wishlist.png"/>
                </li>
                <li class="customer-panel-item" id="cart">
                    <img src="img/cart.png"/>
                </li>
            </ul>
        </div>
        <div class="mobile-menu hide">
            <a href="/" class="icon">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="test">
                    <span class="menu-item"><a href="index.html">home</a></span>
                    <span class="menu-item"><a href="#features">features</a></span>
                    <span class="menu-item"><a href="shop.html">shop</a></span>
                    <span class="menu-item"><a href="blog">blog</a></span>
                    <span class="menu-item"><a href="accessories">accessories</a></span>
                    <span class="menu-item"><a href="contact">contact</a></span>
                 </ul>
                </div>
        </div>
        </div>

        