<div class="banner">
    <div class="banner-carousel">
        <div class="banner-item">
            <img src="img/Banner.png"/>
            <div class="banner-text">
                <p class="capitalize before">
                    welcome to <span class="orange">pahu design</span>
                </p>
                <p class="uppercase bold tablet-hide">you are in good hands with us</p>
            </div>
        </div>
        <div class="banner-item">
            <img src="img/test.jpg"/>
            <div class="banner-text">
                <p class="capitalize before">
                    find your  <span class="orange">individual design</span>
                </p>
                <p class="uppercase bold tablet-hide">you are in good hands with us</p>
            </div>
        </div>
    </div>
</div>

