<div class="banner-carousel">
        <div>
            <img src="img/Banner.png"/>
        </div>
        <div>
            <img src="img/banner-2.jpg"/>
        </div>
        <div>
            <img src="img/banner-3.png"/>
        </div>
        <div>
            <img src="img/banner-4.jpg"/>
        </div>

    </div>
    <div class="banner-text ">
        <p class="capitalize">welcome to <span class="orange">pahu design</span></p>
        <span class="uppercase bold width50">you are in good hands with us</span>
    </div>
   
</div>